Package: ru.precisef0x.borbaumovcheat
Name: Borba Umov Cheat
Depends: mobilesubstrate
Version: 1.3
Architecture: iphoneos-arm
Description: Borba Umov Cheats & Premium
 Cheats for Borba Umov App:
 * Activate premium features (set avatar etc.)
 * Glow effect on the correct answer
 * Hide wrong answers
 Tested with v6.2.0
 Configure in the app's preferences menu
 .
 [Changelog]
 v1.3: 6.2.0 compatibility update, reorganized preferences
 v1.2: iOS9 compatibility
Maintainer: Ilya Kambarov <admin@onescript.ru>
Author: Ilya Kambarov <admin@onescript.ru>
Section: Tweaks
